.enterid{
    position: absolute;
    align-items: center;
    margin-left: 29%;
    margin-top: 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    height: 40%;
}

.enterid label {
    display: block;
}

.roomid{
    margin-left: 20px;
}

.enterid button{
    margin-left: 17%;
    margin-top: 0px;
}

.enterid h1{
    color: #1b1111;
    font-family: "Poppins", sans-serif;
    background-color: #a084a3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 10px;
    margin-bottom: 40px;
}

@media ( min-width: 850px ) and ( max-width: 1000px){
    .enterid{
        position: absolute;
        align-items: center;
        margin-left: 29%;
        margin-top: 12%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        border-radius: 10px;
        width: 30%;
        height: 40%;
    }
    
    .enterid label {
        display: block;
    }
    
    .roomid{
        margin-left: 20px;
    }
    
    .enterid button{
        margin-left: 25%;
        margin-top:  0px;
    }
    
    .enterid h1{
        color: #1b1111;
        font-family: cursive, 'Arial', sans-serif;
        background-color: #a084a3;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 10px;
        margin-bottom: 40px;
    }

    input{
        width: 120px;
    }
}

@media ( min-width: 1000px ) and ( max-width: 1050px){
    .enterid{
        position: absolute;
        align-items: center;
        margin-left: 29%;
        margin-top: 12%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        border-radius: 10px;
        width: 30%;
        height: 40%;
    }
    
    .enterid label {
        display: block;
    }
    
    .roomid{
        margin-left: 20px;
    }
    
    .enterid button{
        margin-left: 11%;
        margin-top:  0px;
    }
    
    .enterid h1{
        color: #1b1111;
        font-family: cursive, 'Arial', sans-serif;
        background-color: #a084a3;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 10px;
        margin-bottom: 40px;
    }

    input{
        width: 160px;
    }
}

@media ( min-width: 1050px ) and ( max-width: 1100px){
    .enterid{
        position: absolute;
        align-items: center;
        margin-left: 29%;
        margin-top: 12%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        border-radius: 10px;
        width: 30%;
        height: 40%;
    }
    
    .enterid label {
        display: block;
    }
    
    .roomid{
        margin-left: 20px;
    }
    
    .enterid button{
        margin-left: 11%;
        margin-top:  0px;
    }
    
    .enterid h1{
        color: #1b1111;
        font-family: cursive, 'Arial', sans-serif;
        background-color: #a084a3;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 10px;
        margin-bottom: 40px;
    }

    input{
        width: 160px;
    }
}
